.browsehappy {
    margin: 0.2em 0;
    padding: 0.2em 0;

    color: #000;
    background: #ccc;
}

#logo {
    float: left;
    @media @max-md {
        float: none;

        .cb; // center block
        .tc; // center text
    }
}
