// =================
// Common Properties
// =================

// Misc
@speed:       200ms;       // Transition duration
@transition:   cubic-bezier(.55,0,.1,1); // Animation Style. Default is Material's curve.

// Colors
@text-color: @gray;  //** Global text color
@links: #bada55;
@links-hover: #0c39fc;

@input-glow-color: #bada55;
@placeholder-color: @text-color; //** Color for placeholder=""

@body-bg: #fff;       //** Background color for `<body>`
@hr-border:   #e6e6e6;   //** Color for <hr> elements
@gray:     #555;

@selection-text:         @text-color;      // Color of selected text
@selection-background:   @body-bg;  // Background of selected text

// Fonts
@font-size-base:          14px;
@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;
